.homeWrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: fit-content;
}

.imageDiv{
    background-image: url("../images/Accenture_Gradient2.jpg");
    height: 400px;
    background-size: cover;
    background-position: 50% 100%;
}

.headerHome{
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
    margin: auto;
    width: 95vw;
    font-family: "Graphik Light", Arial, sans-serif;
    font-weight: normal;
}

.startWrapper{
    position: relative;
    width: fit-content;
    margin: auto;
    line-height: 32px;
    height: 32px;
    text-align: center;
}

.startWrapper:hover .startCircle{
    width: 100%;
    transition: .3s ease-in-out;
}

.startCircle{
    position: absolute;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    transition: .3s ease-in-out;
}

.startArrow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20px;
    width: 22px;
}

.start{
    display: inline-block;
    text-decoration: none;
    margin: auto 20px auto 60px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 21px;
    transition: all 0.2s ease-out;
    font-weight: 700;
}

.bottomSpace{
    height: 3em;
}

/* styling for desktop */
@media screen and (min-width: 1420px){

    .headerHome {
        font-size: 65px;
    }
}