.imageSelection{
    position: relative;
}

.imageSelectionItem{
    display: none;
}

.imageSelectionLabel{
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.imageSelectionImage{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 125px;
    border-radius: 10px;
}

.Song_task{
    background: url("../images/Song_task.jpg") no-repeat center;
    background-size: 250px;
}

.Interactive_work{
    background: url("../images/Interactive_work.jpg") no-repeat center;
    background-size: 250px;
}

.Technology_task{
    background: url("../images/Technology_task.jpg") no-repeat center;
    background-size: 250px;
}

.Technology_work{
    background: url("../images/Technology_work.jpg") no-repeat center;
    background-size: 250px;
}

.SC_task{
    background: url("../images/SC_task.jpg") no-repeat center;
    background-size: 250px;
}

.SC_work{
    background: url("../images/SC_work.jpg") no-repeat center;
    background-size: 250px;
}

#firstImageSelection:checked ~ label[for=firstImageSelection] #firstImage{
    border: #a100ff 7px solid;
}
#secondImageSelection:checked ~ label[for=secondImageSelection] #secondImage{
    border: #a100ff 7px solid;
}
#thirdImageSelection:checked ~ label[for=thirdImageSelection] #thirdImage{
    border: #a100ff 7px solid;
}

/* Style for Desktop */

@media screen and (min-width: 500px) {
    .Song_task, .Interactive_work, .Technology_task, .Technology_work, .SC_task, .SC_work{
        background-size: 300px;
    }

    .imageSelectionImage{
        width: 300px;
        height: 150px;
    }

}

@media screen and (min-width: 900px) {
    .imageSelectionImage{
        display: inline-block;
        position: relative;
        margin: 1vw;
    }

    .imageSelectionLabel {
        width: fit-content;
        display: inline-flex;
        cursor: pointer;
        margin-top: 10vw;
    }

    .imageSelection {
        width: fit-content;
        margin: 4vw auto;
    }

    .Song_task, .Interactive_work, .Technology_task, .Technology_work, .SC_task, .SC_work{
        background-size: 275px;
    }

    .imageSelectionImage{
        width: 275px;
        height: 175px;
    }
}

@media screen and (min-width: 1300px) {
    .Song_task, .Interactive_work, .Technology_task, .Technology_work, .SC_task, .SC_work{
        background-size: 400px;
    }

    .imageSelectionLabel {
        margin-top: 2vw;
    }

    .imageSelectionImage{
        width: 400px;
        height: 250px;
    }

}

@media screen and (min-width: 1536px) {
    .Song_task, .Interactive_work, .Technology_task, .Technology_work, .SC_task, .SC_work{
        background-size: 450px;
    }

    .imageSelectionImage{
        width: 450px;
        height: 300px;
    }

    .imageSelectionLabel {
        margin-top: 4vw;
    }
}

@media screen and (min-width: 1920px) {
    .Song_task, .Interactive_work, .Technology_task, .Technology_work, .SC_task, .SC_work{
        background-size: 500px;
    }

    .imageSelectionImage{
        width: 500px;
        height: 300px;
    }
}