.imageSelection{
    position: relative;
}

.imageSelectionItem{
    display: none;
}

.imageSelectionLabel{
    position: relative;
    margin-top: 30px;
    height: 129px;
}

.imageLoaderWrapper{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 125px;
    left: 10vw;
    border-radius: 10px;
    border: 1px solid #cccccc;
    transition: opacity 1s;
}

.imageLoader{
    margin: 50px 0 0 100px;
}

.imageSelectionImage{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 125px;
    left: 10vw;
    border-radius: 10px;
    transition: opacity .5s;
}

.imageHidden{
    opacity: 0;
}

.imageVisible{
    opacity: 1;
}

.Interactive_DC{
    background: url("../images/Interactive_DC.jpg") no-repeat center;
    background-size: 250px;
}

.Interactive_work{
    background: url("../images/Interactive_work.jpg") no-repeat center;
    background-size: 250px;
}

.Technology_DC{
    background: url("../images/Technology_DC.jpg") no-repeat center;
    background-size: 250px;
}

.Technology_work{
    background: url("../images/Technology_work.jpg") no-repeat center;
    background-size: 250px;
}

.SC_DC{
    background: url("../images/SC_DC.jpg") no-repeat center;
    background-size: 250px;
}

.SC_work{
    background: url("../images/SC_work.jpg") no-repeat center;
    background-size: 250px;
}

.imageSelectionRadio{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 7vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border: 1vw solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}

#imageSelectionSlider{
    position: absolute;
    width: 7vw;
    right: 9.4vw;
    padding-bottom: 7vw;
    margin: 2.5vw 0 0 5vw;
    background: #a100ff;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: 0.5s ease-in-out;
}
#firstImageSelection:checked  ~ #imageSelectionSlider{ animation-name: firstImageSelection; top:42px; }
#secondImageSelection:checked  ~ #imageSelectionSlider{ animation-name: secondImageSelection; top:201px; }
#thirdImageSelection:checked  ~ #imageSelectionSlider{ animation-name: thirdImageSelection; top:360px; }

@keyframes firstImageSelection{ 30%, 70% { transform: scale(0.7); } }
@keyframes secondImageSelection{ 30%, 70% { transform: scale(0.7); } }
@keyframes thirdImageSelection{ 30%, 70% { transform: scale(0.7); } }

@media screen and (min-width: 1366px) {
    .imageSelectionRadio{
        top: 20vw;
        width: 2vw;
        height: 2vw;
        border: .05vw solid #ccc;
        background-color: #f2f2f2;
        margin-right: 7vw;
    }

    #imageSelectionSlider{
        width: 1.5vw;
        padding-bottom: 1.5vw;
        margin: 20.7vw 15.45vw;
    }

    .Interactive_DC, .Interactive_work, .Technology_DC, .Technology_work, .SC_DC, .SC_work{
        background-size: 400px;
    }

    .imageSelectionImage{
        display: inline-block;
        position: relative;
        width: 400px;
        height: 225px;
        left: 0;
        border-radius: 10px;
        margin: 1vw;
    }

    .imageSelectionLabel {
        width: fit-content;
        display: inline-flex;
        cursor: pointer;
    }

    .imageSelection {
        width: fit-content;
        margin: 4vw auto;
    }

    #firstImageSelection:checked  ~ #imageSelectionSlider{ animation-name: firstImageSelection; left: 0; top: 0;}
    #secondImageSelection:checked  ~ #imageSelectionSlider{ animation-name: secondImageSelection; left: 31.285vw; top: 0; }
    #thirdImageSelection:checked  ~ #imageSelectionSlider{ animation-name: thirdImageSelection; left: 62.55vw; top: 0; }

}

@media screen and (min-width: 1536px) {
    .imageSelectionRadio {
        top: 20vw;
        margin-right: 7vw;
    }

    #imageSelectionSlider {
        margin: 20.35vw 15.5vw;
    }

    .Interactive_DC, .Interactive_work, .Technology_DC, .Technology_work, .SC_DC, .SC_work{
        background-size: 450px;
    }

    .imageSelectionImage{
        width: 450px;
        height: 250px;
    }
}

@media screen and (min-width: 1920px) {

    #imageSelectionSlider {
        margin: 18.35vw 9.65vw;
    }

    #secondImageSelection:checked  ~ #imageSelectionSlider{ animation-name: secondImageSelection; left: 25.45vw; top: 0; }
    #thirdImageSelection:checked  ~ #imageSelectionSlider{ animation-name: thirdImageSelection; left: 50.85vw; top: 0; }

}