.infoCard{
    width: 17em;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2em;
    padding: 1em;
    border: 1px solid #96968c;
    background-color: white;
    text-align: left;
}

.infoCardHeading{
    font-size: 22px;
    font-family: "Graphik Black", "Arial Black", sans-serif;
}

.infoCardSubHeading{
    font-size: 18px;
    font-family: "Graphik Black", "Arial Black", sans-serif;
}