.info{
    margin: auto;
    width: 100vw;
    text-align: center;
    min-height: 80vh;
    height: auto;
    overflow: hidden;
    position: relative;
}

.gradientDiv{
    height: 300px;
    padding-top: 100px;
    background-image: url("../images/Accenture_Gradient1.jpg");
    background-size: cover;
    text-align: center;
}

.infoText{
    color: white;
    width: 80vw;
    margin: auto;
    font-family: "Graphik Semibold", Arial, sans-serif;
}

.infoSubText{
    color: white;
    width: 80vw;
    margin: 1em auto 0 auto;
}

.infoCards{
    margin-bottom: 3em;
    margin-top: 4em;
}

.grayBackgroundInfo{
    padding-bottom: 48px;
    background: #f2f2f2;
}

.firstValgomatCard{
    margin-top: -2em;
}

.headingValgomatInfo{
    background-image: url("../images/Accenture_Gradient2.jpg");
    color: white;
    padding-top: 50px;
    padding-bottom: 80px;
}

.backToResult{
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.backArrowWhite{
    background: transparent url("../Icons/back_arrow_white.svg") no-repeat center;
    width: 18px;
    height: 26px;
    background-size: 18px 26px;
}

.backText{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 0 8px;
}