.infoCard{
    width: 17em;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: white;
    text-align: left;
    overflow: hidden;
    font-family: "Graphik Regular", Arial, sans-serif;
    font-size: 16px;
}

.expanded{
    max-height: 700px;
    transition: max-height 600ms ease-in;
}

.minimized{
    max-height: 45px;
    transition: max-height 600ms ease-out;
}

.minimizedLongText{
    max-height: 80px;
    transition: max-height 600ms ease-out;
}

.infoCardHeading{
    font-size: 20px;
    font-family: "Graphik Black", Arial, sans-serif;
    display: inline-block;
    width: 90%;
    margin-right: 5%;
}

.infoCardSubHeading{
    font-size: 18px;
    font-family: "Graphik Black", Arial, sans-serif;
}

.dropdownIcon{
    background: url("../Icons/Down_arrow.png") no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    display: inline-block;
    float: right;
}

.dropdownIconStandard{
    transition: 300ms ease;
}

.dropdownIconRotated{
    transform: rotate(-180deg);
    transition: transform 300ms ease;
}

.statementOrderExampleImage{
    width: 272px;
    height: 250px;
    background: url("../images/rekkefølge_eksempel.PNG") no-repeat center;
}

.likertScaleExampleImage{
    width: 272px;
    height: 86px;
    background: url("../images/likert_eksempel.PNG") no-repeat center;
}

.imageSelectionExampleImage{
    width: 272px;
    height: 319px;
    background: url("../images/bildevalg_eksempel.png") no-repeat center;
}

.resultExampleImage{
    width: 272px;
    height: 277px;
    background: url("../images/resultat_eksempel.png") no-repeat center;
}

a {
    font-family: "Graphik Semibold", Arial, sans-serif;
    color: #0041f0;
}

.btn-goToSubDep {
    background-color: #000;
    padding: .938rem .938rem;
    font-size: .875rem;
    line-height: 1rem;
    border-radius: 0;
    font-family: "Graphik SemiBold", Arial, sans-serif;
    color: #fff;
    min-width: 13.4rem;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    border: 0;
    white-space: nowrap;
    margin: .938rem .625rem;
    transition: linear .2s;
    cursor: pointer;
}

.btn-goToSubDep:active {
    transform: translateY(-5px) translateX(-5px);
}

.btn-goToSubDep:hover {
    transform: translateY(-5px) translateX(-5px);
}

.btn-goToSubDep-behind {
    position: relative;
    z-index: -1;
    color: #a7a7a7;
    background: #a7a7a7;
    margin-top: -3.0625rem;
    margin-left: .875rem;
    margin-right: .35rem;
    padding: .938em .938em;
    font-size: .875em;
    line-height: 1em;
    width: 70%;
}

.btn-goToSubDep-wrapper {
    position: relative;
    z-index: 10;
    border-radius: 0;
    transition: all .3s ease-out;
    display: block;
    padding-bottom: 15px;
}

.linkWrapper{
    position: relative;
}

.linkToNewPage{
    background-image: url("../images/new_tab_purple.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}

.infoCardDropdown{
    display: flex;
    align-items: center;
}

.dropdown {
    cursor: pointer;
}

/* styling for desktop */
@media only screen and (min-width: 1200px){

    .minimized {
        width: 100% !important;
        margin-bottom: 4rem;
        max-height: 60px;
    }

    .expanded {
        width: 100% !important;
        margin-bottom: 4rem;
    }

    .infoCardHeading {
        font-size: 25px;
        font-family: "Graphik Black", Arial, sans-serif;
    }
}

@media only screen and (min-width: 1310px){
    .btn-goToSubDep-behind {
        width: 54%;
    }
}