.infoCard{
    width: 17em;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

.expanded{
    max-height: 700px;
    transition: max-height 600ms ease-in;
}

.minimized{
    max-height: 45px;
    transition: max-height 600ms ease-out;
}

.infoCardHeading{
    font-size: 20px;
    font-family: "Graphik Black", Arial, sans-serif;
    display: inline-block;
}

.infoCardSubHeading{
    font-size: 18px;
    font-family: "Graphik Black", Arial, sans-serif;
}

.dropdownIcon{
    background: url("../Icons/Down_arrow.png") no-repeat center;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.dropdownIconStandard{
    transition: 300ms ease;
}

.dropdownIconRotated{
    transform: rotate(-180deg);
    transition: transform 300ms ease;
}

.statementOrderExampleImage{
    width: 272px;
    height: 250px;
    background: url("../images/rekkefølge_eksempel.PNG") no-repeat center;
}

.likertScaleExampleImage{
    width: 272px;
    height: 86px;
    background: url("../images/likert_eksempel.PNG") no-repeat center;
}

a {
    font-family: "Graphik Semibold", Arial, sans-serif;
    color: #0041f0;
}

.btn-goToSubDep {
    position: absolute;
    background-color: #000;
    padding: .938rem .938rem;
    font-size: .875rem;
    line-height: 1rem;
    border-radius: 0;
    font-family: "Graphik Semibold", Arial, sans-serif;
    color: #fff;
    min-width: 13.4rem;
    border: 0;
}

.btn-goToSubDep-wrapper {
    display: inline-block;
    background: #a7a7a7;
    min-width: 13.4rem;
    height: 50px;
}