.navMargin{
    margin-top: 55px;
}

.logo{
    height: 30px;
    padding: 10px;
    display: inline-block;
    z-index: 10;
}

.nav{
    display: grid;
    justify-content: center;
    width: 100%;
    border-bottom: .06em solid #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0 -2px 8px;
    z-index: 10;
    position: fixed;
    background-color: white;
    top: 0;

}

.hamburger{
    display: inline-block;
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 0.5rem;
}

a.hamburgerItemLink:link, a.hamburgerItemLink:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 150px;
    border-bottom: 1px solid #ccc;
    color: black;
}

a.hamburgerItemLink:hover, a.hamburgerItemLink:active {
    background-color: white;
}

a.hamburgerItemLinkActive:link, a.hamburgerItemLinkActive:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 150px;
    border-bottom: 1px solid #ccc;
    color: black;
    background-color: #f2f2f2;
}

a.hamburgerItemLinkActive:hover, a.hamburgerItemLinkActive:active {
    background-color: #e6e6dc;
}

.hamburgerItems{
    position: fixed;
    left: 0;
    margin-top: 3px;
    background-color: white;
    font: 16px "Graphik Semibold", Arial, sans-serif;
    overflow: hidden;
}

.countryFlagsDesktop{
    display: flex;
    height: 54px;
    margin: 0 0 0 auto;
    padding: 0 !important;
}

.countryFlags{
    display: flex;
}

.usFlag{
    width: 39.5px;
}

.noFlag{
    width: 39.5px;
}

.flagdivider{
    width: 1px;
    background-color: #ccc;
    display: inline-block;
}

.flagWrapper{
    display: inline-block;
    padding: 10px 30px;
}

.languageActive{
    background-color: #f2f2f2;
}

.navbar-item {
    display: none;
}

/* styling for desktop */
@media screen and (min-width: 1200px){
    .hamburger {
        display: none;
    }

    .hamburgerItems {
        display: none;
    }

    .nav {
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }

    .navbar-item {
        display: flex;
        padding: 0 20px;
        font-family: "Graphik Regular", Arial, sans-serif;
        font-size: .875rem;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .navbar-item:hover {
        text-decoration: black underline;
    }

    .navbar-item-logo {
        padding-right: 2rem;
        cursor: pointer;
    }

    .logo {
        padding-top: 7px;
        padding-bottom: 13px;
    }
}