.navMargin{
    margin-top: 55px;
}

.logo{
    height: 30px;
    padding: 10px;
    display: inline-block;
    z-index: 10;
}

.nav{
    display: inline-block;
    width: 100%;
    border-bottom: .06em solid #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0 -2px 8px;
    z-index: 10;
    position: fixed;
    background-color: white;
    top: 0;

}

.hamburger{
    display: inline-block;
    position: absolute;
    left: 87vw;
    padding-top: 3px;
    padding-bottom: 3px;
}

a.hamburgerItemLink:link, a.hamburgerItemLink:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 150px;
    border-bottom: 1px solid #ccc;
    color: black;
}

a.hamburgerItemLink:hover, a.hamburgerItemLink:active {
    background-color: white;
}

a.hamburgerItemLinkActive:link, a.hamburgerItemLinkActive:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 150px;
    border-bottom: 1px solid #ccc;
    color: black;
    background-color: #f2f2f2;
}

a.hamburgerItemLinkActive:hover, a.hamburgerItemLinkActive:active {
    background-color: #e6e6dc;
}

.hamburgerItems{
    position: fixed;
    right: 0;
    margin-top: 3px;
    background-color: white;
    font: 16px "Graphik Semibold", Arial, sans-serif;
    overflow: hidden;
}

.countryFlags{
    display: flex;
}

.usFlag{
    width: 39.5px;
}

.noFlag{
    width: 39.5px;
}

.flagdivider{
    width: 1px;
    background-color: #ccc;
    display: inline-block;
}

.flagWrapper{
    display: inline-block;
    padding: 10px 30px;
}

.languageActive{
    background-color: #f2f2f2;
}