.progressContainer{
    width: 85vw;
    background-color: #e6e6dc;
    margin: 20px auto;
    left: 7.5vw;
}

.progressFiller{
    background-color: #a100ff;
    text-align: center;
    transition: linear .5s;
}

.progressLabel{
    color: white;
    font-weight: bold;
}