.progressContainer{
    width: 85vw;
    background-color: #f2f2f2;
    margin: 20px auto;
    left: 7.5vw;
    border-radius: 3rem;
    border: .06em solid #ccc;
}

.progressFiller{
    background-color: #a100ff;
    text-align: center;
    transition: all .5s;
    border-radius: 3rem;
}

.progressLabel{
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/* styling for desktop */
@media screen and (min-width: 1200px){

    .progressContainer {
        width: 70vw;
        margin: 2vw auto;
    }

    .progressFiller {
        padding: 5px;
    }

    .progressLabel {
        font-size: 20px;
        font-family: "Graphik Semibold", Arial, sans-serif;
    }
}

@media screen and (min-width: 1500px){

    .progressContainer {
        width: 50vw;
    }
}