.statement {
    padding: 10px;
    width: 100%;
    min-height: 60px;
    max-width: 70vw;
    background-color: #f8f8f8;
    border: solid 1px #cbcbcb;
    border-radius: 10px;
    transition: ease .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    float: left;
    width: 100%;
}

.buttonsContainer {
    display: inline-grid;
    align-items: center;
    float: right;
    height: 80px;
    width: 20%;
}

.buttonUp{
    background: url("../Icons/accenture_arrow_up.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonUp:active{
    background: url("../Icons/accenture_arrow_up_active.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDown{
    background: url("../Icons/accenture_arrow_down.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDown:active{
    background: url("../Icons/accenture_arrow_down_active.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonUpGray{
    background: url("../Icons/accenture_arrow_up_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDownGray{
    background: url("../Icons/accenture_arrow_down_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    height: 106px;
}

.orderNumber {
    margin: 1rem;
}