.statement {
    padding: 10px;
    width: 100%;
    min-height: 60px;
    max-width: 70vw;
    background-color: #f2f2f2;
    border: .06em solid #ccc;
    border-radius: 1rem;
    transition: ease .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Graphik Regular", Arial, sans-serif;
}

.textContainer{
    float: left;
    width: 100%;
}

.buttonsContainer {
    display: inline-grid;
    align-items: center;
    float: right;
    height: 80px;
    width: 30%;
}

.buttonUp{
    background: url("../Icons/accenture_arrow_up.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonUp:active{
    background: url("../Icons/accenture_arrow_up_active.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDown{
    background: url("../Icons/accenture_arrow_down.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDown:active{
    background: url("../Icons/accenture_arrow_down_active.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonUpGray{
    background: url("../Icons/accenture_arrow_up_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.buttonDownGray{
    background: url("../Icons/accenture_arrow_down_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 30px 21px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    height: 106px;
}

.orderNumber {
    margin: 1rem;
}

@media (max-height: 640px) {
    .container{
        margin: 0 auto;
    }
}