#flex {
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column;
}
#flex > #1 { order: 5; }
#flex > #2 { order: 2; }
#flex > #3 { order: 3; }
#flex > #4 { order: 4; }
#flex > #5 { order: 1; }

.statement {
    border: solid 2px black;
    padding: 10px;
    margin: 5px;
    width: fit-content;
}