.statement {
    padding: 10px;
    width: 70%;
    transition: all 0.5s ease-out;
    background-color: #f8f8f8;
    /*box-shadow: 0px 0px 5px 1px #cbcbcb;*/
    border: solid 1px #cbcbcb;
    border-radius: 10px;
}

.textContainer{
    float: left;
    width: 80%;
}

.buttonsContainer {
    display: inline-grid;
    align-items: center;
    float: right;
    height: 80px;
    width: 20%;
}

.buttonUp{
    background: url("../Icons/Up_arrow.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 25px 25px;
}

.buttonDown{
    background: url("../Icons/Down_arrow.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 25px 25px;
}

.buttonUpGray{
    background: url("../Icons/Up_arrow_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 25px 25px;
}

.buttonDownGray{
    background: url("../Icons/Down_arrow_gray.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 25px 25px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    margin: 1rem auto;
}

.orderNumber {
    margin: 1rem;
}