.valgomatButtons{
    width: 100vw;
    text-align: center;
}

.valgomatButton {
    margin: 0 2vw;
    border: 4px solid #a100ff;
    border-radius: 30px;
    width: 155px;
    height: 50px;
    color: #a100ff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    transition: all 0.3s
}

.valgomatButton:active {
    border: 4px solid #7500c0;
    color: white;
    background-color: #7500c0;
}