.bodyValgomat{
    overflow: hidden;
}

.questionNumber{
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
}

.valgomatQuestion{
    text-align: center;
    margin-top: 30px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.dynamicQuestion{
    text-align: center;
}

.valgomat {
    min-height: 80vh;
    height: auto;
}

.animatedDiv{
}

.animatedDivLeaveNext{
    position: absolute;
    left: 100vw;
}

.animatedDivLeaveLast{
    position: absolute;
    left: -100vw;
}