.bodyValgomat{
    overflow: hidden;
}

.questionNumber{
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    font-family: "Graphik Semibold", Arial, sans-serif;
}

.valgomatQuestion{
    text-align: center;
    margin-top: 20px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.dynamicQuestion{
    text-align: center;
}

.valgomat {
    min-height: 75vh;
    height: auto;
}

.statementOrderMargin{
    margin-top: 5rem;
}

.initializeTransition{
    transform: translateX(0);
}

.animatedDivLeaveNext{
    position: absolute;
    left: 100vw;
}

.animatedDivLeaveLast{
    position: absolute;
    left: -100vw;
}

.infoButton{
    display: block;
    position: absolute;
    left: 80vw;
    top: 2rem;
    background-image: url("../Icons/accenture_info.svg");
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

.infoButton:active{
    display: block;
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    background-image: url("../Icons/accenture_info_active.svg");
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

@media (max-height: 745px) {
    .statementOrderMargin{
        margin-top: 1rem;
    }
}