.valgomatButtons{
    width: 100vw;
    text-align: center;
}

.valgomatButton {
    margin: 0 2vw;
    border: 1px solid black;
    width: 155px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
}