.logo{
    height: 30px;
    padding: 10px;
    display: inline-block;
    z-index: 10;
}

.nav{
    display: inline-block;
    width: 100%;
    border-bottom: .06em solid #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    z-index: 10;
    position: relative;
    background-color: white;
}