a:link, a:visited {
    background-color: gray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    width: 150px;
}

a:hover, a:active {
    background-color: #7500c0;
}